.difference {
    text-align: left;
}
.difference__title {
    background-color: var(--bg-pattern);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    border-radius: 2em;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

p {
    margin-bottom: 3rem;
    color: grey;
}

.difference__number {
    background-color: var(--primary-bg-color);
    padding: .5rem;
    border-radius: 2em;
    width: 80px;
    color: var(--light-grey);
}
@media (min-width: 768px) {
    .details {
        margin-left: 6rem;    
    }
}