.hero {
    text-align: center;
    color: var(--primary-color);
}
.hero__header {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.1;
}
.hero__desc {
    margin: 2rem auto;
}
.hero button {
    display: none;
}
@media (min-width: 768px) {
    .hero__container {
        flex-direction: row-reverse;
        text-align: left;
        padding-top: 5rem;
    }
    .hero__img {
        width: 100%;
    }    
    .hero__text {
        width: 100%;
        margin: 1rem 
    }    
    .hero__header {
        font-size: 3rem;
    }
    .hero button {
        display: block;
    }
}